 <!-- launch file for not having any speech learning (can't reach some goals) -->
 <launch>

  <arg name="seed" default="1"/>

  <!-- Env params: default is 3 objects and a 5x10 table -->
  <arg name="nobjects" default="3"/> 
  <arg name="width" default="5"/>

  <!-- effect space learner param -->
  <arg name="evalfreq" default="25"/>
  <arg name="theta" default="3"/>
  <arg name="tau" default="2"/>

  <!-- TEXPLORE params -->
  <arg name="ntexsteps" default="15"/>
  <arg name="actrate" default="15"/>

  <!-- Speech learner params -->
  <arg name="nspeeches" default="15"/>
  <arg name="ntest" default="4"/>
  <arg name="rate" default="0.74"/>



  <!-- effect space goal selection -->   
	<node pkg="sl_effect" type="effect" name="effect" args="--progressgoal --texplorelearner  --evalfreq $(arg evalfreq) --theta $(arg theta) --tau $(arg tau) --seed $(arg seed)"></node>

  <!-- TEXPLORE learner -->   
	<node pkg="sl_texplore" type="texplore" name="texplore" args="--nsteps $(arg ntexsteps) --actrate $(arg actrate) --seed $(arg seed)"></node>

  <!-- Logging node -->   
	<node pkg="sl_logger" type="logger" name="logger" args="--filename no_speech.$(arg theta).$(arg tau).$(arg ntexsteps).$(arg actrate).$(arg seed)"></node>

  <!-- Env node -->
  <node pkg="sl_env" type="env" name="env" args="--nobjects $(arg nobjects) --width $(arg width) --seed $(arg seed)"></node>

 </launch>
